<!DOCTYPE html>
<html>
<head>
    <style>
div{
    background-color: green;
    margin-top: auto;
    margin-bottom: auto;
    overflow: scroll;
}
    </style>
</head>
<body>
    <div>
	<pre>
<!--code Tag starts here -->
		<code>
		class GFG
		{
			// Program begins with a call to main()
			// Print "Hello, World" to the terminal windowfdbghfvdsbjkdgdjkgfh hfghsdavbbhvuifghug fdjdbhdfjajdfkdfhsudhvfdu8fsdhidjiufhiduifgidgdhuifigdufhuiogfbih
			public static void main(String args[])
			{
				System.out.println("Hello, World");
			}
		}
<!--code Tag ends here -->
		</code>
	</pre>
</div>

</body>

</html>
